USE [master]
GO
/****** Object:  Database [BDSECRETARIAIDES]    Script Date: 02/12/2016 23:35:19 ******/
CREATE DATABASE [BDSECRETARIAIDES]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDSECRETARIAIDES', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\BDSECRETARIAIDES.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BDSECRETARIAIDES_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\BDSECRETARIAIDES_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDSECRETARIAIDES].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDSECRETARIAIDES]
GO
/****** Object:  Table [dbo].[ALUNO]    Script Date: 02/12/2016 23:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ALUNO](
	[CODALUNO] [int] IDENTITY(1,1) NOT NULL,
	[NOMEALUNO] [varchar](50) NOT NULL,
	[RG] [char](15) NOT NULL,
	[EMISSAO] [char](2) NOT NULL,
	[DATANASC] [date] NOT NULL,
	[CPF] [char](14) NULL,
	[FILIACAOMAE] [varchar](50) NULL,
	[FILIACAOPAI] [varchar](50) NULL,
	[CEP] [char](9) NULL,
	[ENDERECO] [varchar](50) NULL,
	[NUMERO] [char](6) NULL,
	[COMPLEMENTO] [varchar](20) NULL,
	[BAIRRO] [varchar](50) NULL,
	[CIDADE] [varchar](50) NULL,
	[ESTADO] [char](2) NULL,
	[TIPOTEL1] [varchar](15) NOT NULL,
	[TELEFONE1] [char](14) NOT NULL,
	[OBSERVACAOTEL1] [varchar](20) NULL,
	[TIPOTEL2] [varchar](15) NULL,
	[TELEFONE2] [char](14) NULL,
	[OBSERVACAOTEL2] [varchar](20) NULL,
	[TIPOTEL3] [varchar](15) NULL,
	[TELEFONE3] [char](14) NULL,
	[OBSERVACAOTEL3] [varchar](20) NULL,
	[EMAIL] [varchar](50) NULL,
 CONSTRAINT [PK_ALUNO] PRIMARY KEY CLUSTERED 
(
	[CODALUNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CURSO]    Script Date: 02/12/2016 23:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CURSO](
	[CODCURSO] [int] IDENTITY(1,1) NOT NULL,
	[NOMECURSO] [varchar](50) NOT NULL,
 CONSTRAINT [PK_DISCIPLINA] PRIMARY KEY CLUSTERED 
(
	[CODCURSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MATRICULA]    Script Date: 02/12/2016 23:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MATRICULA](
	[CODMATRICULA] [int] IDENTITY(1,1) NOT NULL,
	[MATRICULANUMERO] [varchar](20) NOT NULL,
	[DATAMATRICULA] [date] NOT NULL,
	[CODALUNO] [int] NOT NULL,
	[CODTURMA] [int] NOT NULL,
	[CODUSUARIO] [int] NOT NULL,
 CONSTRAINT [PK_MATRICULA] PRIMARY KEY CLUSTERED 
(
	[CODMATRICULA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PROFESSOR]    Script Date: 02/12/2016 23:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROFESSOR](
	[CODPROFESSOR] [int] IDENTITY(1,1) NOT NULL,
	[NOMEPROFESSOR] [varchar](50) NOT NULL,
	[RG] [char](15) NOT NULL,
	[EMISSAO] [char](2) NOT NULL,
	[DATANASC] [datetime] NOT NULL,
	[CPF] [char](14) NOT NULL,
	[FILIACAOMAE] [varchar](50) NULL,
	[FILIACAOPAI] [varchar](50) NULL,
	[CEP] [char](9) NOT NULL,
	[ENDERECO] [varchar](50) NOT NULL,
	[NUMERO] [char](6) NOT NULL,
	[COMPLEMENTO] [varchar](50) NULL,
	[BAIRRO] [varchar](50) NOT NULL,
	[CIDADE] [varchar](50) NOT NULL,
	[ESTADO] [char](2) NOT NULL,
	[TIPOTEL1] [varchar](15) NOT NULL,
	[TELEFONE1] [char](14) NOT NULL,
	[OBSERVACAOTEL1] [varchar](20) NULL,
	[TIPOTEL2] [varchar](15) NULL,
	[TELEFONE2] [char](14) NULL,
	[OBSERVACAOTEL2] [varchar](20) NULL,
	[TIPOTEL3] [varchar](15) NULL,
	[TELEFONE3] [char](14) NULL,
	[OBSERVACAOTEL3] [varchar](20) NULL,
	[EMAIL] [varchar](50) NULL,
	[ESCOLARIDADE] [varchar](50) NOT NULL,
	[DTADMISSAO] [datetime] NOT NULL,
	[DTDEMISSAO] [datetime] NULL,
 CONSTRAINT [PK_PROFESSOR] PRIMARY KEY CLUSTERED 
(
	[CODPROFESSOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TURMA]    Script Date: 02/12/2016 23:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TURMA](
	[CODTURMA] [int] IDENTITY(1,1) NOT NULL,
	[QTDVAGAS] [char](3) NOT NULL,
	[DIASEMANA] [varchar](20) NOT NULL,
	[HORAENTRADA] [time](7) NOT NULL,
	[HORASAIDA] [time](7) NOT NULL,
	[DATAINICIO] [datetime] NOT NULL,
	[DATACONCLUSAO] [datetime] NOT NULL,
	[CODPROFESSOR] [int] NOT NULL,
	[CODCURSO] [int] NOT NULL,
 CONSTRAINT [PK_TURMA] PRIMARY KEY CLUSTERED 
(
	[CODTURMA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 02/12/2016 23:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USUARIO](
	[CODUSUARIO] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](20) NOT NULL,
	[SOBRENOME] [varchar](30) NOT NULL,
	[CPF] [char](14) NOT NULL,
	[SEXO] [char](1) NOT NULL,
	[EMAIL] [varchar](50) NULL,
	[NOMEUSUARIO] [varchar](30) NOT NULL,
	[SENHA] [varchar](20) NOT NULL,
	[ACESSO] [varchar](20) NOT NULL,
	[FOTO] [varbinary](max) NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[CODUSUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[MATRICULA]  WITH CHECK ADD  CONSTRAINT [FK_MATRICULA_ALUNO] FOREIGN KEY([CODALUNO])
REFERENCES [dbo].[ALUNO] ([CODALUNO])
GO
ALTER TABLE [dbo].[MATRICULA] CHECK CONSTRAINT [FK_MATRICULA_ALUNO]
GO
ALTER TABLE [dbo].[MATRICULA]  WITH CHECK ADD  CONSTRAINT [FK_MATRICULA_TURMA] FOREIGN KEY([CODTURMA])
REFERENCES [dbo].[TURMA] ([CODTURMA])
GO
ALTER TABLE [dbo].[MATRICULA] CHECK CONSTRAINT [FK_MATRICULA_TURMA]
GO
ALTER TABLE [dbo].[TURMA]  WITH CHECK ADD  CONSTRAINT [FK_TURMA_PROFESSOR] FOREIGN KEY([CODPROFESSOR])
REFERENCES [dbo].[PROFESSOR] ([CODPROFESSOR])
GO
ALTER TABLE [dbo].[TURMA] CHECK CONSTRAINT [FK_TURMA_PROFESSOR]
GO
USE [master]
GO
